a {
    font-size: 12px;
    position: relative;
}

a.active {
    color: green;
    font-weight: bold;
}

li {
    display: inline-block;
    margin: 10px;
}


.tooltip {
    display: inline-block;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    white-space: nowrap;
    z-index: 1;
    top: calc(100% + 4px);
    left: 0px;
}
.tooltip:before {
    content: '';
    display: inline-block;
    position: absolute;
    border-bottom: 8px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: -12px;
    left: 0px;
    width: 5px;
    height: 4px;
}