
<!-- To use router links we need routerModule dependency -->
<ul>
    <li>
        <a routerLink="/login" routerLinkActive="active">Login</a>
    </li>
    <li>
        <a routerLink="/mailbox" routerLinkActive="active">Mailbox</a>
    </li>
    <li>
        <a routerLink="/xyz" routerLinkActive="active">Route3</a>
    </li>
    <li>
        <a routerLink="/abc" routerLinkActive="active">Route4</a>
    </li>
</ul>
<hr>
<!-- Router outlet will load component/module specified in routes array (app-routing.module.ts) -->
<router-outlet></router-outlet>